// `sage preset` installed this file automatically.
// Running `sage preset` again could result in automatic deletion of this file.
// Because of this, we do not recommend editing this file.
@import "~bootstrap/scss/bootstrap";

.container-fluid{

    padding-right: 0px !important;
    padding-left: 0px !important;
}

.container {


    @include media-breakpoint-up(md) {
        padding-right: 0px !important;
        padding-left: 0px !important;
     }

     @include media-breakpoint-down(md) {
        padding-right: 30px !important;
        padding-left: 30px !important;
     }
   

}