:root {
    font-size: 16px;
}

body {
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;/* Default: auto */
}
a:hover {
    color:$primary;
}

h1 {
    font-size: 4rem;
    font-family: $Playfair;
    @include media-breakpoint-down(lg) { 
        font-size: 2.5rem;
        line-height: 1.1 !important;
     }
}

h2 {
    font-size: 2rem;
    @include media-breakpoint-up(xl) { 
        font-size: 3rem;
      }
    font-family: $Playfair;
    color: $primary !important;
    line-height: 2 !important;
}

h3 {
    font-size: 2rem;
    line-height: 1;
    @include media-breakpoint-up(xl) { 
        font-size: 3rem;
      }
    font-family: $Pacifico;
    line-height: 2 !important;
}

h4 {
    font-size: 2.25rem;
    font-family: $Pacifico;
}

h5 {
    font-size: 1.75rem;
    font-family: $Pacifico;
}

h6 {
    font-size:2rem;
    font-family: $Playfair;
}

h1, h2,
h3,
h4,
h5,
h6 {
    color: $content;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.1;
    @include media-breakpoint-down(lg) {
        br {
            display: none;
        }
     }

     @include media-breakpoint-up(lg) {
        line-height: 1.3;
     }

}
p {
    margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

p.intro  {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

hr {
    background-image: linear-gradient(-134deg, #AE233B 0%, #FF7600 100%);
    border-radius: 2.5px;
    width: 120px;
    height: 4;
    border-bottom: 0px !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    margin: 0 auto !important;
}

img {
    margin-bottom: 1rem;
}
hr {
    @extend .border-bottom;
}
.border-bottom {
    border-bottom: 2px solid $primary !important;
}

.border-top {
    border-top: 2px solid $primary !important;
}

.p-100 {
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
        padding-top: 64px;
        padding-bottom: 64px;
     }
}
.pb-100 {
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
        padding-bottom: 64px;
     }
}
.px-7 {

    @include media-breakpoint-up(xl) {
        padding-left:7rem !important;
        padding-right:7rem !important;
    }
}
   
.bg-dark {
    background: #323232;
}

.lock-scroll {
    overflow: hidden;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-align {
    @include vertical-align();
}

.move-down {

    -webkit-transform: translateY(0px);
    transform: translateY(0px);

   &:hover, &:focus {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition: -webkit-transform 2s,opacity .2s;
    transition: transform 1s,opacity .1s;
   }
}

.transition {
    -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -ms-transition: all .2s ease;
            transition: all .2s ease;
}
.palarax {
    /* Set a specific height */
  height: 80vh; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: -100px;
    height: 400px;
    left: 0;
    right: 0;
    display: block !important;
   z-index: 1000;
   background-image:url('../images/palarax_up.png');
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
  }


  &:after {
    content: '';
    position: absolute;
    top: 60%;
    bottom: -10px;
    left: 0;
    right: 0;
    display: block !important;
   z-index: 1000;
   background-image:url('../images/palarax_down.png');
   background-repeat: repeat-x;
   background-position: bottom;
   background-size: auto;
  }
}

blockquote {
    padding: 100px 0;

&:before{
    content: "\201C";
    color:$secondary;
    font-size:4em;
    position: absolute;
    left: 20;
    margin-top:-80px;
    height: 20px;
  }
    &:after{
        content: "\201D";
        color:$secondary;
        font-size:4em;
        position: absolute;
        right: 0;
    }
}

p.highlight {

    border-left: 3px solid $secondary;
    padding-left: 2rem;
    margin-left: -2rem;
}

// Gutenberg wide images


.content .alignwide {
    margin-left  : -80px;
    margin-right : -80px;
}
.content .alignfull {
    margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}
.alignfull img {
    width: 100vw;
}