/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

@import url('https://fonts.googleapis.com/css?family=Pacifico|Playfair+Display|Source+Sans+Pro:400,400i,600,700');

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";
// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

// Grid 
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 992px,
    xl: 1280px
) !default;

$grid-gutter-width: 30px !default;

$Playfair : 'Playfair Display', serif;
$Pacifico : 'Pacifico', cursive;
$theme-colors: ( primary: #731B1E);
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
// $enable-rounded: false;
$primary: #731B1E;
$secondary: #C2382D;
$content: #4A4A4A;
$light: #E8E8E8;
$dark :#ED1849;
$body-color: $content !default;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-light;
$line-height-base: 1.5 !default;
$hamburger-layer-color: $primary;
$hamburger-layer-height:2px;
$hamburger-layer-width:32px;
$hamburger-layer-spacing: 7px;
$hamburger-layer-border-radius: 0px;
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$border-color: $light;

// Carousel 

$carousel-control-color: $content;
$carousel-caption-color: $content;
$carousel-indicator-active-bg: $primary;

// Forms

$input-border-color: $light;
$input-color: $content;
$input-placeholder-color: $content;
$input-plaintext-color: $content;
$input-focus-border-color: $primary;