/* Sketch doesnt export gradient borders at this point */

.btn {
    text-decoration: none!important;
    color: white;
    margin: 20px 0;
    outline: none;
    cursor: pointer;
    box-shadow: none!important;
    letter-spacing: 0.64px;
    text-align: center;
    line-height: 16px;
    background: $dark;
    padding: 20px 32px;
    box-shadow: 0 16px 10px -11px rgba(155,155,155,0.48);
    border:transparent;
    border-radius: 100px;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    @include transition;
    &:hover {
        background: $light ;
        color: $dark;
      
    }
}

.btn-defualt {
    background: $light;
    color: $content;
    &:hover, &:focus {
        background: $dark ;
        color: white;
    }
}


.btn-primary {
    border: 3px solid $secondary;
    font-size:1rem;
    background: none;
    color: $content;
    &:hover, &:focus{
        background-image: linear-gradient(-134deg, #AE233B 0%, #FF7600 100%);
        color: white;
         border: 3px solid $secondary;
    }
    &.dropdown-toggle  {
        background-color:rgba(255, 255, 255, 0.8);
        border: 3px solid white;

        &:hover, &:focus{
            background-image: linear-gradient(-134deg, #AE233B 0%, #FF7600 100%);
            color: white;
            border: 3px solid rgba(255, 255, 255, 0.8);
        }
    }
}

.btn-secondary {
    background: $light ;
    background-image: linear-gradient(50deg, #05BFB8 0%, #4A6591 100%);
box-shadow: 0 16px 10px -11px rgba(21,158,169,0.48);
background-image: linear-gradient(50deg, #05BFB8 0%, #4A6591 100%);
    &:hover, &:focus {
        background-image: linear-gradient(50deg, #4A6591 0%, #03C0B9 100%);
        color: white;
    }
}

.btn-cta {
font-size:1rem;
font-weight: 600;
color: white;
margin: 20px 0;
outline: none;
cursor: pointer;
text-align: center;
line-height: 11px;
padding: 20px 48px;
text-align: center;
box-shadow: 0 16px 10px -11px rgba(36,36,36,0.48);
border-radius: 100px;
background-image: linear-gradient(-180deg, rgba(141,26,46,0.00) 0%, rgba(187,45,50,0.22) 34%, rgba(255,95,0,0.13) 91%);
border: 3px solid $secondary;
font-family: $font-family-sans-serif;
@include transition;

    &:hover, &:focus {
        text-decoration: none;
        background-image: linear-gradient(-180deg, rgba(141,26,46,0.00) 0%, rgba(187,45,50,0.88) 34%, #FF5F00 91%);
        color: white ;
        border: 3px solid white;
        @include transition;
    }
}

.btn-submit {
    font-size: 1.2rem;
    text-align: center;
    background-image: linear-gradient(-134deg, #AE233B 0%, #FF7600 100%);
    border: 1px solid rgba(53,59,80,0.10) !important;
    box-shadow: 4px 18px 22px 0 rgba(116,116,116,0.14) !important;

   &:hover {
    background-image: linear-gradient(-134deg, #FF7600 0%, #AE233B 100%);
    color: white;
   }
}