/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// wpcf7
.wpcf7 {
  p { width: 100% !important;
  }
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea,
select  { 
  // font-size: 18px;
  padding: .5rem 2rem;
  width: 100% !important;
  margin-top: 0.2em;
  color: $light!important;
  font-size: 1remx;
  outline: 0;
  background-color: white;
  border: 3px solid transparent;
  box-shadow: 4px 18px 22px 0 rgba(116,116,116,0.14);
  border-radius: 25px;
margin-bottom: 2.2rem;
  &:hover, &:focus {
    border: 3px solid $secondary;
    transition: 1s ease;
    }

    
}
textarea {
height: 200px;
padding: 2rem 2rem;
}

label {
width:100%;
color: $primary;
}

::placeholder {
  color: #999999;
}

span.wpcf7-not-valid-tip {
  font-size:14px !important;
  font-style: italic;
}

  input[type="submit"] {
    @extend .btn-submit;
    @extend .btn;
  }
}
