// Instagram

section.instagram {
    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
      }
      
      .row.no-gutter [class*='col-']:not(:first-child),
      .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 0;
        padding-left: 0;
      }

      .parent {
        display: flex;
        align-items: center;
        position: relative;
       @extend .col-lg-2;
       @extend .col-md-2;
       @extend .col-6;

       @include media-breakpoint-down(sm) { 
        padding-bottom: 50%;
        }
       padding-bottom: 16.6666%;
       height: 0;
       justify-content: center;
      }
      
      .img-featured-container {
        overflow: hidden;
        position: absolute;
        top:0;
        bottom: -1px;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .img-featured-container img {
       display: none;
      }
      
      .img-featured-container .img-backdrop {
        background: rgba(0,0,0,0.40);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        @include transition;
      }
      
      .img-featured-container:hover > .img-backdrop {
        background: rgba(0,0,0,0.0);
      }
      
      /* load more button */
      #btn-instafeed-load {
        color: #fff;
        background: #26a3ff;
        font-size: 16px;
        margin: 20px auto;
        padding: 8px 40px;
        display: block;
        border: none;
      }
}

// Newsletter

section.newsletter {

    .form-inline {
        @include media-breakpoint-down(lg) { 
            padding: 15px;
            width: 100%;
         }

    }

    h6 {
        padding-top: 1rem;
        color: $secondary;
    }

    h3 {

        @include media-breakpoint-down(lg) { 
            margin-bottom: 0;
         }

    }
    .form-group {
        width: 100%;
        
        .btn {
            @extend .mt-1;
        }

        .form-control-lg{

            width: 800px;
            border: 1px solid rgba(53,59,80,0.10);
            box-shadow: 4px 18px 22px 0 rgba(116,116,116,0.14);
            border-radius: 30.5px;
            opacity: 0.5;
            font-size: 17px;
            color: #353B50;
            letter-spacing: 0;
            @include media-breakpoint-down(lg) { 
                width: 100%;
                margin-bottom: 1rem;
             }
            font-size: 15px;
            padding: 1.6rem 2rem;
        }
    }

    .mce_inline_error {

        // margin: 0 !important;
        background-color:$dark;
        font-weight: bold;
        color: white !important;
        opacity: 1 !important;
        &::placeholder {
            color:white;
        }
        border-color:$dark !important;
        
    }

    div.mce_inline_error {
        display: none !important;
    }

    #mce-responses {
       .response {
        font-weight: bold;
        color: $content;
        font-size: 1rem;
        text-align: center;

        a {
            color: $dark ;
        }
       }
    }


}

section.footer-bottom {

    &:before {
        content: '';
        position: absolute;
        height: 200px;
        left: 0;
        right: 0;
        display: block !important;
       z-index: 1000;
       background-image:url('../images/footer.png');
       background-repeat: no-repeat;
       background-position: center top;
       background-size: cover;
      }

    font-size: 1rem;
    background-color: #EDEDED;

    .widget {

        @extend .col-lg-12;
        @extend .mb-4;
        @extend .px-0;

        ul.menu {
            margin: 0;
            padding: 0;
            column-gap: 2rem;
            column-count: 2;
           

            li {
                list-style: none;

                a {
                    font-weight: 600;
                    color: $content;
                    @extend .px-0;
                    font-size: 1rem;

                    &:hover {
                        color: $primary;

                    }
                }
            }
        }
        .custom-html-widget {
            a {
                color: #AE0101;
                padding-right: 0.8rem;

                &:hover {
                    color: $content;

                }
            }
        }
    }
}