.banner .nav li {
  @extend .nav-item;

  &.active .nav-link,  &:hover .nav-link {
    color: $primary;
  }
}

.single .banner, .woocommerce-page .banner, .regions .banner{
  box-shadow: 0 0 20px rgba(0,0,0,.04);
}

.banner {
  .social {

    @include media-breakpoint-down(md) { 
      padding: 1rem 0;
   }

    margin-left:.5rem;
    @extend .ml-lg-5;

    a {
      color: #AE0101;
      padding-right: 0.8rem;
       
      &:hover {
          color: $content;

      }
      .svg-inline--fa {
        font-size: 1.6rem !important;
        @include media-breakpoint-down(xl) { 
          font-size: 1.2rem !important;
        }

      }
    }
  }
}

.banner .user {

  @include media-breakpoint-down(md) { 
    position: absolute;
    right: 84px;
    top: 34px;

    a {
    padding: 0 8px;
    }
  }

 
}


.banner .nav a {
  @extend .nav-link;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: .6rem !important;
  padding-left: .6rem !important;

  // @include media-breakpoint-up(xl) { 
  //   padding-right: 1rem !important;
  //   padding-left: 1rem !important;
  //   font-size: 1.125rem;
  // }
    color: $content;
}


.header-container {

  @include media-breakpoint-down(md) { 
    background: white;
    box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.1);
    max-width: 100% !important;

    &.container {

      padding-left: 15px !important;
      padding-right: 15px !important;
    }
 }

}
section.archive-banner, section.featured-banner, body.single .wrap {

  @include media-breakpoint-down(md) { 
    // margin-top: 120px;

  }

}
.banner {
  .nav-item {

    @include media-breakpoint-down(lg) { 
      padding: 1rem 0;
   }
   
  }
}

.svg-inline--fa {
  font-size: 2rem;
  color: $primary;
}

a.brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('../images/Logo.png');
  width: 180px;
  height: 72px;
  background-size: cover;
  display: block;

  @include media-breakpoint-down(lg) { 
    width: 130px;
  height: 50px;
  }
}

// Featured Banner

.about .featured-banner::before {
  background-image: none !important;
}

.featured-banner,.archive-banner {

  width: 100%;
  height: 40vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary;

  h1 {
    color:white;
  }

  &:before {
    content: '';
    position: absolute;
    // top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    opacity: 0.4;
    z-index: 999;
background-image: linear-gradient(-134deg, #AE233B 0%, #FF7600 100%);
  }

  &:after {
    content: '';
    position: absolute;
    height: 40vh;
    left: 0;
    right: 0;
   z-index: 1000;
   background-image:url('../images/layer_03.png');
   background-repeat: repeat-x;
   background-position: center bottom;
  //  background-size: cover;
  }
}

// Archive Banner

.archive-banner {

  &:before {
    background-image: linear-gradient(0deg, #23AE92 1%, rgba(79,152,197,0.67) 32%, rgba(109,215,208,0.00) 80%) !important;
  }

  

}

.page-banner {
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary;

}

// Home - Slider
.main-slider {
  width: 100%;
  height: 90vh;

  @include media-breakpoint-down(lg) { 
    height: 99vh;
 }
  padding: 0;
  margin: 0;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    height: 200px;;
    left: 0;
    right: 0;
    top:0;
   z-index: 1000;
   opacity: 0.5;
   background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 43%, #000000 100%);
  }

  

  &:after {
    content: '';
    position: absolute;
    margin-top: -200px;
    height: 200px;
    left: 0;
    right: 0;
    display: block !important;
   z-index: 1000;
   background-image:url('../images/layer_03.png');
   background-repeat: repeat-x;
   background-position: left bottom;
  }

  h1  {
      color: white !important;
      text-shadow: 4px 1px 6px rgba(0,0,0,0.22);
      margin: 0;
      span {
          font-weight: 300;
      }
      
      @include media-breakpoint-down(lg) { 
        margin-bottom: 2rem;
     }

     @include media-breakpoint-down(lg) { 
     font-size: 4rem;
   }
  }
  p {
      font-weight: 300;
      margin: 2rem 0 0 0;
  }

  div.text {
    position: absolute;
    z-index: 10000;
    height: 200px;
    bottom: 40px;
    left: 0;
    right: 0;
    p {
      color:white;
      margin: 0 !important;
    }
    
  }

  ul.slick-dots {
    display: none !important;
       @include media-breakpoint-down(lg) { 
          right: 0;
       }
       @include media-breakpoint-down(md) { 
        display: none !important;
     }
      bottom: 260px;
      z-index: 9999;
      position: absolute;
      @extend .px-4;
      // display: flex !important;
      justify-content: center;
      width: 100%;

      li {
          list-style: none;
          cursor: pointer;
          width: 16px;
          height: 16px;
          margin: 4px;
          background-color:$light;
          display: block;
          border: transparent;
          border-radius: 50%;

          &.slick-active {
              background-color: white;
          }
      }
      button {
          display: none;
      }
  }

  .slide {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 90vh;

      @include media-breakpoint-down(lg) { 
        height: 100vh;
     }
      
      width: 100%;
      padding: 0;
      margin: 0;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top:65% !important;
        display: block !important;
       z-index: 1000;
        background-image: linear-gradient(-180deg, rgba(141,26,46,0.00) 0%, rgba(187,45,50,0.88) 34%, #FF5F00 91%) !important;
        opacity: 1 !important;
      }
      .container {
          z-index: 9999;
          opacity: 0;
          // @include vertical-align;
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
          margin-top: -20px;

          @include media-breakpoint-down(lg) { 
             padding: 0 32px;
           }
      }

      &:before {
          content: '';
          display: block;
          position: absolute;
          z-index: 998;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0.45;
          background-image: linear-gradient(43deg, rgba(0,0,0,0.00) 49%, rgba(0,0,0,0.16) 69%, #000000 100%);
          
      }

      &:after {
          content: '';
          display: block;
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0.45;
background-image: linear-gradient(-133deg, rgba(0,0,0,0.00) 71%, rgba(0,0,0,0.16) 83%, #000000 100%);
      }
  }

  .slide.slick-active {
      .container {
          opacity: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(px);
          -webkit-transition: -webkit-transform 2s,opacity .2s;
          transition: transform 2s,opacity .2s;
         
      }
  }

  
}
.arrow {

  display: block;
  position: absolute;
  z-index: 10000;
  left: 40px;
  margin-top: -240px;
  height: 60px;
  width: 40px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  
  @include media-breakpoint-down(lg) { 
    left: 50%;
    margin-left: -20px;
  }
  
}

.home .arrow {

  @include media-breakpoint-down(lg) {
    display: none;
  }

}