.widget-area {
    @include media-breakpoint-up(lg) { 
        min-height: 60vh;
     }
     height: auto;

     h3 {
        @extend .m-0;
     }

     .wp-block-image {
         margin-bottom: 0 !important;
     }
   
    @extend .d-flex;
    @extend .justify-content-center;
    @extend  .align-items-center;
    @extend  .flex-wrap;

    .wp-block-columns {

        @include media-breakpoint-down(md) { 
            // flex-wrap: wrap;
            display: block;
         }

    }


    .wp-block-column {
        width: 28vw;
       
        @extend .px-0;
        background: #FFFFFF;
        box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
        border-radius: 16px;
        @extend .transition;
        @extend .mx-4;
        &:last-child {
            @extend .mr-0;
        }

        &:first-child {
            @extend .ml-0;
        }

        img {
            @extend .m-0;
        }

        p {
            @extend .pt-5;
            @extend .px-5;
        }

         &:hover {
            box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.8);
        }

        @include media-breakpoint-down(lg) { 
            margin-bottom: 4rem;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
           margin-left: 0 !important;
           margin-right: 0 !important;
         }
    }
}

// Tour Packages

section.tour-packages {

    // slider navigation
    .slick-next, .slick-prev {

        position: absolute;
        bottom: 30px;
        margin: 2rem;
        background: #FFFFFF;
        border: 1px solid rgba(53,59,80,0.04);
        box-shadow: 15px 14px 31px 0 rgba(116,116,116,0.26);
        width: 4rem;
        height: 4rem;;
        border-radius: 50%;
        color: transparent;
        outline: 0;
        opacity: .6;
        @extend .transition;
        

        &:hover {
            opacity: 1;
            box-shadow: 15px 14px 31px 0 rgba(116,116,116,0.4);

        }

       &:before {
            z-index: 1000;
            font-family: "FontAwesome"; 
            font-size: 2.2rem;
            padding: 1rem;
            opacity: 0.4;
            font-weight: 900;
            color: $content !important;
        
       }
    }

    .slick-next {
        right:40%;

        @include media-breakpoint-down(lg) { 
            right:36%;
         }

         @include media-breakpoint-down(md) { 
            right:24%;
         }

        &:before {
            content:"\f105";
        }
        
       }

    .slick-prev {
    left: 40%;

     @include media-breakpoint-down(lg) { 
        left: 36%;
     }
     @include media-breakpoint-down(md) { 
        left: 24%;
     }

        &:before {
            content:"\f104";
        }

    }
    

    .tour-box {
        @extend .col-lg-3;

        p.price {
            font-size: 1rem;
        }

        

    }
    
    .case-study-link {
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-decoration: none;
        // opacity: 0.31;
       
        border: transparent;
        border-radius: 17px;

        // &:hover {
        //     box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
        // }

       &:hover .overlay, &:focus .overlay {
            background: rgba(51, 51, 51, 0.88);
            
        }
        &:hover .text, &:focus .text {
            opacity: 1;
        }
        
        h5 {
            color:white !important;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            opacity: 1;
            -moz-transition: all .8s ease;
            -o-transition: all .8s ease;
            -webkit-transition: all .8s ease;
            -ms-transition: all .8s ease;
            transition: all .8s ease;
            border: 1px solid rgba(53,59,80,0.04);
        border-radius: 17px;
        height: 200px;
        }

        .text {
            opacity: 0;
            z-index: 2;
            -moz-transition: all .8s ease;
            -o-transition: all .8s ease;
            -webkit-transition: all .8s ease;
            -ms-transition: all .8s ease;
            transition: all .8s ease;
            width: 50%;
            position: absolute;
        }
    }

    img {
            border: 1px solid rgba(53,59,80,0.04);
        border-radius: 17px;
        z-index: -1;
        width: 100%;
        height: auto;

    
    }
    h2 {
        @extend h5;
        text-shadow: none;
        color:$content !important;
        @extend .px-lg-3;
        
    }
    a {
        color: $content;
    }
    a:hover {
        text-decoration: none;
    }
    li {
        list-style: none;
        text-align: center;
       padding: 0;
       margin-top: 2rem;
    }

    span.onsale {
        top: 0;
        // right: 0;
        // left: auto;
        margin: 0 -3rem;
        min-height: 3.236em;
        min-width: 3.236em;
        padding: 4% 2%;
        font-size: 1em;
        font-weight: 700;
        position: absolute;
        text-align: center;
        line-height: 3.236;
        border-radius: 100%;
        background-color:$dark;
        color: #fff;
        font-size: .857em;
        z-index: 999;
    }
    .price {
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        del {
            display: block;
            opacity: .6;
        }
        
    }
    a.button, .added_to_cart {
        @extend .btn;
        @extend .mx-auto;
    }
    .added_to_cart {
        @extend .btn-defualt;
    }
}

section.contact {

    background-image: linear-gradient(-134deg, rgba(174,35,59,0.12) 0%, rgba(255,118,0,0.12) 100%);


    // h3 {
    //     color: white;
    // }


    &:before {
        content: '';
        position: absolute;
        margin-top: -120px;
        width: 100%;
        height: 200px;
        display: block !important;
       z-index: 1000;
       background-image:url('../images/layer_06.png');
       background-repeat: repeat-x;
       background-position: left center;
      }

    &:after {
        content: '';
        position: absolute;
        // bottom: 0;
        margin-top: -80px;
        width: 100%;
        height: 200px;
        display: block !important;
       z-index: 1000;
       background-image:url('../images/layer_03.png');
       background-repeat: repeat-x;
       background-position: left center;
      }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    
}

// Blog

.nav-links {

    .nav-previous, .nav-next {
        
        
       

        a {
            font-size: 2.4rem;
            padding: .9rem 1.94rem;
            color: $content !important;
            background: #FFFFFF;
            border: 1px solid rgba(53,59,80,0.04);
            box-shadow: 15px 14px 31px 0 rgba(116,116,116,0.26);
            border-radius: 50%;
            opacity: .8;
            font-weight: 900;
            @include transition;

            &:hover {
                opacity: 1;
            }
        }

    }
}

// 404

.error404 .page-header {
    min-height: 30vh;
}