.blog {
    article {

    
        @extend .col-lg-12;
        background: #FFFFFF;
        box-shadow: 13px 14px 34px 0 rgba(228,228,228,0.47);
        border-radius: 16px;

       &:hover {
        box-shadow: 13px 14px 34px 0 rgba(228,228,228,0.8);
       }
        @extend .mb-5;
      
        p {
            font-size: 1rem;
        }
    
    
    
    a.more-link {
        @extend .btn;
        @extend .btn-secondary;
        display: inline-block;
    }
    
    header {
        @extend .mb-3;
    
        h2 {
            font-size:2.2rem;
            color: #4A4A4A;
            line-height: 1.1 !important;
            margin-bottom: 1rem;
        
            a {
                color: $content;
                &:hover {
                    text-decoration: none;
                    color:black;
                }
            }
        }
        
        time {
        
            font-family: $Playfair;
            font-size: 12px;
            color: #242635;
            letter-spacing: 0;
            line-height: 20px;
        
        }
    }
    
        .hs-featured-image-link {
            background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top:0;
                right:0;
                left:0;
                bottom:0;
        }
    }
}

// Single post page

.wp-block-image {
    @extend .img-fluid;
    margin-bottom: 100px;
    @include media-breakpoint-down(md) {
        margin-bottom: 64px;
     }
}

.wp-block-gallery {

    @extend .p-100;

}

.wp-block-image + .wp-block-gallery, .wp-block-embed + .wp-block-gallery   {
   @extend .pt-0;
}

.wp-block-gallery .blocks-gallery-item figcaption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.wp-block-embed {

    .wp-block-embed__wrapper {
    

        @extend .embed-responsive;
        @extend .embed-responsive-16by9;
    
        iframe {
            @extend .embed-responsive-item;
        }
    
    }

    margin-top: 100px;
    margin-bottom: 100px;
    @include media-breakpoint-down(md) {
        margin-top: 64px;
        margin-bottom: 64px;
     }
    
}


// ekko-lightbox
.ekko-lightbox.modal {

    .modal-content {
        background:none !important;
        // opacity: 1 !important;
        color: $content;
        border:none;
    }

    .modal-body {
        padding: 0 1rem 1rem 1rem !important;
    }

    .modal-header {
        height: 48px;
        border-bottom: none;
    }

    
}

.ekko-lightbox-nav-overlay a span {
    color: black;
}
.single {
    
    .modal-backdrop.show {
        opacity: 0.9 !important;
        
    }
    .modal-header button.close {
        color: $content;
        position: fixed;
        right: 15px;
        top: 15px;
        z-index: 9999;
        opacity: 1 !important;
        font-size: 2.5rem !important;
    }
    .modal-backdrop {
        background-color: white !important;
    }

   
}

.single {

    time {
    
        font-family: $Playfair;
        font-size: 1rem;
        color: #242635;
        letter-spacing: 0;
        line-height: 20px;
        width: 100%;
      
    
    }

    .single-content {

        p {
            @extend .col-lg-10;
            @extend .mx-auto;
            @extend .px-lg-0;
    
        }
    
        h3,h4,h2 {
    
            @extend .col-lg-10;
            @extend .mx-auto;
            @extend .px-lg-0;
    
        }

        

    }


}

ul.list-style {
    margin: 0;
    padding: 0;

    li {

       
        list-style-type: none;
        @extend .mb-2;
        &:before {
            content: '\f192';
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            font-size: 1.2rem;
            margin-right: 2rem;

            color:$secondary;
            font-family: "FontAwesome"; 
            font-weight: 900;
        }

    }
}

.more-packages, .product-content, .availability{
    background-color: #f5f5f5;

    &:before {
        content: '';
        position: relative;
        width: 100%;
        height: 160px;
        display: block !important;
        z-index: 1000;
        background-image:url('../images/palarax_up.png');
        background-repeat: repeat-x;
        background-position: center top;
        background-size: 40%;
        

       @include media-breakpoint-down(lg) {
        background-size:cover;
        height: 100px;
        }
      }
    
    
      &:after {
        content: '';
        position: relative;
        width: 100%;
        height: 100px;
        display: block !important;
       z-index: 1000;
       background-image:url('../images/palarax_down.png');
       background-repeat: repeat-x;
       background-position: center bottom;
       background-size: 40%;
       
       @include media-breakpoint-down(lg) {
        background-size:cover;
        }
      }
}

.more-packages {
    margin-bottom: -100px;
}

.availability {

    h2, h3 , p {
        color: white;
    }

    .overlay {

        background-image: linear-gradient(0deg, rgba(0,0,0,0.67) 1%, rgba(0,0,0,0.4) 32%, rgba(109,215,208,0.00) 80%) !important;
        // background-image: linear-gradient(-180deg, rgba(141,26,46,0.00) 0%, rgba(187,45,50,0.88) 34%, #FF5F00 91%) !important;
        opacity: .9;
        content: '';
        position: absolute;
        width: 100%;
        height: 60vh;
        margin-top: 0px;
        margin-bottom: 0;
        @extend .p-100;
        display: none;

    }

    .container {
        // z-index: -1;
        height: 50vh;
        // z-index: 0;

        

        .dropdown-menu {
            border-radius: 16px;
            &.show {

                box-shadow: 0 16px 10px -11px rgba(36,36,36,0.48);
                overflow: hidden;
                margin-left: -16.6666%;
                @extend .my-4;

                // @include media-breakpoint-down(md) {
                //     margin-left: -33.3333%;
                //   }

                a {
                    @extend .py-3;
                    font-weight: 700;
                    font-size: 1rem;

                    &:hover 

                    {
                        background-image: linear-gradient(-134deg, #AE233B 0%, #FF7600 100%);
                        color: white;

                        img {
                            border:4px solid white;
                        }
                    }
                    img {
                        border-radius: 10px;
                        margin-bottom: 0;
                        border:4px solid transparent;
                        width: 80px;
                        height: auto;
                        @include media-breakpoint-down(md) {
                            display: none;
                          }
                    }
                }
            }
        }
    }
    min-height: 60vh;
    // background-color: #f5f5f5;
    background-image:url('../images/bg-02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    &:before {
        margin-top: -24px;
        z-index: 1;
        
    }

    &:after {
        // margin-bottom: -40px;
        background-image:url('../images/layer_03.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        z-index: 0;
    }
}