.woocommerce button.button.alt, .woocommerce input.button.alt {
    @extend .btn;
}

.woocommerce button.disabled.button.alt {
    background-color: $secondary !important;
}

.summary.entry-summary {
    form {
        @extend .col-lg-6;
        @extend .px-lg-0;
        @extend .p-100;
    }
}
.wc-bookings-booking-form {

    
    box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
        border-radius: 16px;
        border: 1px solid #f9f9f9;
        background-color: white;
        @extend .transition;

        label {
            font-weight: 700;
            font-size: 16px;
            color: $content;

        }

        p.form-field {
            padding: 1.6rem 2em !important;
            font-size: 16px;
            width: 48%;
            float: left;
            color: $secondary;
        }
        fieldset {
            margin: 0 0 2rem 0;
            padding-left: 2rem;
        }

        input {
            @extend .form-control-lg;
            border: 1px solid rgba(53,59,80,0.10);
            box-shadow: 4px 18px 22px 0 rgba(148, 148, 148, 0.14);
            border-radius: 30.5px;
            font-size: 17px;
            color: #353B50;
            letter-spacing: 0;
            width: 100% !important;
            margin-bottom: 1rem;
            @include media-breakpoint-down(lg) { 
                margin-bottom: 1rem;
             }
        }



}

.woocommerce .content {
    p {
        margin-left: 0 !important;
        font-size: 1rem;
    }
}

.page .woocommerce {
   @extend .container;
   
}

// My account

.page.my-account {
    h2 {
        display: none;
    }
}

.woocommerce {

    .col-1, .col-2 {
        @extend .col-lg-6;

        @include media-breakpoint-down(lg) { 
            max-width:100%;
         }
    }
    form {
        input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea,
select {

            @extend .form-control-lg;
            border: 1px solid rgba(53,59,80,0.10);
            border-radius: 30.5px;
            font-size: 17px;
            color: #353B50;
            letter-spacing: 0;
            margin-bottom: 1rem;
            outline: 0;
            appearance: none;

            @include media-breakpoint-down(lg) { 
                margin-bottom: 1rem;
             }

        }
    .select2-container--default .select2-selection--single {

        @extend .form-control-lg;
        border: 1px solid rgba(53,59,80,0.10);
        border-radius: 30.5px;
        font-size: 17px;
        color: #353B50;
        letter-spacing: 0;
        // margin-bottom: 1rem;
        outline: 0;
        appearance: none; 
       
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {


        top: 8px;
        right: 8px;


    }
    

    textarea {
        width: 100% !important;
        padding: 2rem;
        height: 300px !important;
    }

    .woocommerce-input-wrapper {
        width: 100% !important;
    }
    
    legend {
        color: $dark;
        font-weight: 700;
        margin: 2rem 0;
    }
    
    label {
        font-size: 1rem;
        font-weight: 700;
    }
    
    fieldset {
        margin: 2rem 0;
        width: 100%;
    }
    }

    .select2-dropdown {

        border: 1px solid rgba(53,59,80,0.10) !important;

    }
}

.woocommerce-EditAccountForm {

    padding: 1rem 2rem;
}

.woocommerce-MyAccount-content {

    padding: 2rem;

}


.woocommerce-MyAccount-navigation {
    border-radius: 16px;
    border: 1px solid #f3f3f3;
    box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
    padding: 2rem;

    ul {
        margin: 0;
        padding: 0;
    }

     li {
         list-style: none;
         border-bottom: 1px solid $light;
         padding: 1.25rem 0;
         

         &:last-child {
             border:none;
         }

         a {
             font-weight: 700;
             color: $content;

             &:hover {
                 text-decoration: none;
                 color: $dark;
             }
         }

         &.is-active {

            a {
                color: $dark;
            }


         }
     }

}
.woocommerce form.login  {

    

    border-radius: 16px;
    border: 1px solid #f3f3f3;
    box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
    padding: 4rem;
    @include media-breakpoint-up(lg) { 
        width: 50%;
        margin-left: auto;
        margin-right: auto;
     }
   

    input {

        @extend .form-control-lg;
            border: 1px solid rgba(53,59,80,0.10);
            border-radius: 30.5px;
            font-size: 17px;
            color: #353B50;
            letter-spacing: 0;
            margin-bottom: 1rem;
            padding: 28px 30px !important;
            float: left;
           
            @include media-breakpoint-down(lg) { 
                margin-bottom: 1rem;
             }


    }

    .button, label {
        // margin-top: 2rem;
    }

    label.inline {
        margin-left: 2rem;
        
    }

}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    width: 100%;
    display: block !important;

}

p.woocommerce-LostPassword.lost_password {
    font-size: 1rem;
}
// Cart page
.cart .woocommerce-cart-form {
    border-radius: 16px;
    border: 1px solid #f3f3f3;
    box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
    background-color: white;

    input {

        @extend .form-control-lg;
            border: 1px solid rgba(53,59,80,0.10);
            border-radius: 30.5px;
            font-size: 17px;
            color: #353B50;
            letter-spacing: 0;
            margin-bottom: 1rem;
           
            @include media-breakpoint-down(lg) { 
                margin-bottom: 1rem;
             }

             &.input-text {
                // height: 56px;
                padding: 28px 30px !important;
                width: 200px !important;
                float: none;
             }
    }

    
}

.woocommerce table.shop_table {
    border:0 !important;
    padding: 2rem 2rem 0 2rem;
}

.woocommerce table.shop_table .actions {
    padding: 2rem 0;
}

.woocommerce-cart table.cart img {
    width: 200px;
    margin-bottom: 0;
    padding: 1rem;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    @extend .btn;
    @extend .btn-primary;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    @extend .p-100;

    .cart_totals {
        h2 {
            color: $content !important;
            text-shadow: none !important;
            font-family: $Pacifico;
            font-size: 2rem;
            line-height: 1;
            @include media-breakpoint-up(xl) { 
                font-size: 3rem;
            }
        }
    }
}

// Single Post


p.price {
    color:$dark;
}

// Lightbox
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    display: none !important;
    }

// layout

.woocommerce-message, .woocommerce-error, .woocommerce-info {

    border-radius: 16px;
    border: 1px solid#f3f3f3;
    @extend .transition;
    background: white;
    box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);

}

.woocommerce a.button, .woocommerce button.button {
    @extend .btn;
    margin: 0;
    padding: 20px 32px !important;
}

.woocommerce-page div.product div.images {
    width: 100%;
}

.woocommerce div.product div.images .flex-control-thumbs li{
    width: auto !important;

    // &:first-child {
    //     border-radius: 0 0 0 16px;
    //     overflow: hidden;
    // }

    // &:last-child {
    //     border-radius: 0 0 16px 0;
    //     overflow: hidden;
    // }
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: none !important;
}

.woocommerce-product-gallery {
    border-radius: 16px;
    overflow: hidden;
}
.woocommerce-product-gallery .flex-viewport {

    height: 60vh !important;

    @include media-breakpoint-down(lg) { 
        height: auto!important;
        margin-bottom: 0 !important;
     }

}

section.gallery-content {

    overflow: hidden;
    clear: both;
}

.woocommerce-product-gallery {
    clear: both;
}


section.description {
    overflow: hidden;
    clear: both;
}
// product description tabs
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
                font-size:2rem;
                font-family: $Pacifico;

}

.woocommerce div.product .woocommerce-tabs ul.tabs {

    margin: 0;
    padding: 0;

  &:before {
      display: none;
  }
}


.woocommerce-Tabs-panel {

    border-radius: 0 16px 16px 16px;
    border: 1px solid #f3f3f3;
    @extend .transition;
    margin-top: -1px !important;
    box-shadow: 13px 22px 34px 0 rgba(228,228,228,0.47);
    padding: 2.25rem !important;

    h2 {
        display: none !important;

    }
    p {
        font-size:1.25rem !important;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: none !important;
        }
    }

    ul {
        @extend .list-style;

        li {
            display: flex;
            &:after {
                display: block !important;
            }

        }
    }
    
}

.product div.wc-tabs-wrapper {
    padding-top: 5rem;
   
}


.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #f3f3f3;
    border-radius: 16px 16px 0 0;
    padding: 0 2em 0 2em;
    margin: 0;
   
    &::before, &::after {
        display: none;
    }
}

div.woocommerce-tab {
        ul.tabs {
           

            li {
             

                a {
                    font-size:1rem;
                    font-family: $Pacifico;
                }
            }
        }
        .woocommerce-Tabs-panel{
            @extend .tab-content;
    
        }
    }

// Cart Icon - Header

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
    color: $content;

    &:hover {
        color: $primary;
    }
}
.cart-contents:hover {
    text-decoration: none;
    
}
.cart-contents-count {
    color: #fff;
    background-color: $secondary;;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    
    width: 30px;
    height: 30px;
    position: absolute;

    @include media-breakpoint-up(md) { 
        margin-top: -20px;
        margin-left: -24px;
    }

    @include media-breakpoint-down(md) { 
        top: -20px;
        right: 20px;
    }
}
.cart-contents {
    width: 50px;

    
}
.my-account {
    color: $content;
}

// Archive Product

.woocommerce {
    article {
        @extend .px-0;

        .image-container {
            height: 300px;
            width: 100%;
            position: relative;
        }
    }

    .entry-summary {
        p {
            font-size: 1.125rem;
            @extend .mb-4;
           
        }
    }

    .price {
        display: block;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        @extend .mb-4;
        del {
            display: block;
            opacity: .6;
        }
        
    }
    a.button, .added_to_cart {
        @extend .btn;
        @extend .mx-auto;
        
    }
    .added_to_cart {
        @extend .btn-defualt;
        padding: 20px 32px !important;
    }
    
}